@model Occupie.Models.LoginModel

@{
    ViewBag.Title = "Влез като студент";
}
<div id="login-form">
    <h2>@ViewBag.Title</h2>
    <section id="loginForm">
        <div style="padding: 10px">
            @using (Html.BeginForm("LoginAsStudent", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <ol>
                    <li>
                        @Html.TextBoxFor(m => m.UserName, new { @placeholder = "потребителско име от СУСИ" })
                        <br />
                        @Html.ValidationMessageFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "парола от СУСИ" })
                        <br />
                        @Html.ValidationMessageFor(m => m.Password)
                    </li>
                    <li>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                    </li>
                </ol>
                <input class="k-button" type="submit" id="login-button" value="Влез" />
            }
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

