@model Occupie.Models.Employer

<figure class="info" style="border-top:none">
    <figcaption style="border:none">
        <img class="alignleft" src="~/img/mono-icons/mouse32.png" />
        <h4 class="heading">Основна информация</h4>

        @if(!string.IsNullOrWhiteSpace(Model.Adress))
        {
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Adress)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Adress)
            </div>
        }
        @if(!string.IsNullOrWhiteSpace(Model.Website))
        {
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Website)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Website)
            </div>
        }

        @if(!string.IsNullOrWhiteSpace(Model.LinkedIn))
        {
            <div class="display-label">
                @Html.DisplayNameFor(model => model.LinkedIn)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LinkedIn)
            </div>
        }

        @if(!string.IsNullOrWhiteSpace(Model.Email))
        {
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Email)
            </div>
        }

        @if(!string.IsNullOrWhiteSpace(Model.Phone))
        {
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Phone)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Phone)
            </div>
        }

        @if(!string.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Description)
            </div>
        }

        @if (@Model.NumberOfEmployees!=0)
        {
             <div class="display-label">
            @Html.DisplayNameFor(model => model.NumberOfEmployees)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NumberOfEmployees)
        </div>
        }
    </figcaption>
</figure>