@model LinkedFMI_UI.ViewModels.OfferViewModels.OfferFilterViewModel
@using LinkedFMI_UI.Enums;

<script src="~/js/jquery-ui-1.10.3.custom.js"></script>
<figure class="main isotope-item" style="width:100%" id="experience">
    <figcaption>
		<h4 class="heading">Филтър</h4>
		<div class="editor-field">
			@using (Html.BeginForm("FilterOffers", "Offer", FormMethod.Post, 
                                      new { enctype = "multipart/form-data" }))
			{
                <table style="margin-right: auto; margin-left: auto">
                    <tr>
                        <td style="text-align: right">
				            <label>Работодатели:</label>
                        </td>
                        <td style="text-align: left">
				            @Html.TextBoxFor(model => model.EmployerTitles)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
				            <label>Технологии:</label>
                        </td>
                        <td style="text-align: left">
				            @Html.TextBoxFor(model => model.Technologies)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; vertical-align: middle">
				            <label>Работно време:</label>
                        </td>
                        <td style="text-align: left">
				            @for (int i = 0; i < Model.WorkTimes.Count; i++)
				            {
                                if (i != 0 && i % 3 == 0)
                                {
                                    <br />
                                }	
					            @Html.CheckBoxFor(model => model.WorkTimes[i]);
					            <label for="WorkTimes_@(i)_">@EnumTranslator.WorkTimes[(WorkTime) (i)]</label>
				            }
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; vertical-align: middle">
				            <label>Ниво:</label>
                        </td>
                        <td style="text-align: left">
				            @for (int i = 0; i < Model.Levels.Count; i++)
				            {
                                if (i != 0 && i % 3 == 0)
                                {
                                    <br />
                                }
                    
					            @Html.CheckBoxFor(model => model.Levels[i]);
					            <label for="Levels_@(i)_">@EnumTranslator.Levels[(Level)i]</label>
				            }
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; vertical-align: middle">
				            <label>Тип:</label>
                        </td>
                        <td style="text-align: left">
				            @for (int i = 0; i < Model.Types.Count; i++)
				            {

                                if (i != 0 && i % 3 == 0)
                                {
                                    <br />
                                }
                    
					            @Html.CheckBoxFor(model => model.Types[i]);
					            <label for="Types_@(i)_">@EnumTranslator.Types[(LinkedFMI_UI.Enums.Type)i]</label>
				            }
                        </td>
				    </tr>
                </table>
				<input type="submit" value="Изпрати ме" />
			}
			
		</div>
    </figcaption>
</figure>