@using LinkedFMI_UI.ViewModels.OfferViewModels

@model IEnumerable<OfferAllViewModel>

@{
    ViewBag.Title = "Всички обяви";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_FilterOffersPartial", new OfferFilterViewModel())

@(Html.Kendo()
    .Grid<OfferAllViewModel>()
    .Name("grid-offers")
    .BindTo(Model)
    .Columns(columns =>
    {
        columns.Bound(model => model.OfferType).Sortable(true).Title("Тип");
        columns.Bound(model => model.Title).Sortable(true).Title("Име");
        columns.Bound(model => model.EmployerTitle).Sortable(true).Title("Работодател");
        columns.Bound(model => model.DailyWorkTime).Sortable(true).Title("Работно време");
        columns.Bound(model => model.OfferLevel).Sortable(true).Title("Ниво");
        columns.Bound(model => model.Technologies).Sortable(true).Title("Технологии");

        columns.Template(@<text>
                  @Html.ActionLink("Детайли", "Details",
                  new { Id = @item.Id })   
                   </text>)
                  .ClientTemplate("<a href='/brunch/statistics/brunchid=#= BrunchCode#'>#=BrunchCode#</a>")
                  .Title("Детайли");  
	   })
    .Pageable(page =>
        {
            page.PreviousNext(true);
            page.Numeric(true);
        })
    .Sortable(sort =>
        {
            sort.AllowUnsort(false);
            sort.SortMode(GridSortMode.SingleColumn);
        })
    .Resizable(resize => resize.Columns(true))
    .Navigatable()
    .DataSource(data =>
    {
        data.Ajax()
            .Model(m => m.Id(b => b.Id))
            .PageSize(10)
            .ServerOperation(true);
    }))

<script type="text/javascript">
    function showDetails(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#Details").data("kendoWindow");

        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();
    }
</script>
