@model IEnumerable<Occupie.ViewModels.StudentAllViewModel>
@*@using Occupie.Helpers
@foreach (var student in Model)
{
    <figure class="main isotope-item">
        <figcaption>
            @if (student.Picture != null)
            {
                @Ajax.ActionImageLink("data:image;base64," + @System.Convert.ToBase64String(student.Picture), null, null, "", "Profile", "Student", new { profileId = student.UserId }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "uploadDialog", InsertionMode = InsertionMode.Replace, OnSuccess = "openUploadPopup" })<br />
            }


            <br />
            <h2>
                @student.FirstName
                @student.LastName
            </h2>
        </figcaption>
    </figure>
}*@

<script type="text/x-kendo-tmpl" id="template2">
    <a href="/Student/Profile/?profileId=#:Id#" class="student">
        <img src="#:PictureString#" alt="#:FullName#" />
        <h3>#:FullName#</h3>
    </a>
</script>

<div class="demo-section">
@(Html.Kendo().ListView<Occupie.ViewModels.StudentAllViewModel>(Model)
    .Name("listView2")
    .TagName("div")
    .ClientTemplateId("template2")
    .DataSource(dataSource => {
        dataSource.Read(read => read.Action("ReadStudents", "Home"));
        dataSource.PageSize(15);
    })
    .Pageable()
)
</div>
