@model Occupie.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Начало";
}

<div class="wrapper cf">

    @if (Model.ShowEmailWarning)
    {
        @Html.Partial("ChangeEmail", Model.Student)
    }

    @(Html.Kendo()
    .Grid<Occupie.ViewModels.OfferViewModels.OfferAllViewModel>().EnableCustomBinding(true)
    .Name("grid-offers")
    .BindTo(Model.Offers)
    .Columns(columns =>
    {
        columns.Bound(model => model.Title).Sortable(true).Title("Име");
        columns.Bound(model => model.EmployerTitle).Sortable(true).Title("Работодател");
        columns.Bound(model => model.DailyWorkTime).Sortable(true).Title("Работно време");
        columns.Bound(model => model.OfferLevel).Sortable(true).Title("Ниво");
        columns.Bound(model => model.Id).ClientTemplate(@Html.ActionLink("Детайли", "Details", "Offer", new { id = "#=Id#" }, null).ToHtmlString()).Title("Детайли");
	   })    

    .Sortable(
    sort =>
        {
            sort.Enabled(true);
            sort.AllowUnsort(true);
            sort.SortMode(GridSortMode.SingleColumn);
        })
    .Resizable(resize => resize.Columns(false))
    .Navigatable()
            .DataSource(data =>
            {
                data.Ajax().Read(read => read.Action("ReadLatestOffers", "Offer"));
            }
            )
    )

    <!-- portfolio content-->
    <div id="home-content">
        <div  id="filter-container-blog" class="cf">
         
        </div>
        <div id="filter-container-blog" class="cf">
            <figure>
                <figcaption>

                    @{
                        int i = 0;
                    }

                    @foreach (var post in Model.BlogPosts)
                    {
                        i++;
                        <a href="@post.Link">
                            <h2>@post.Title</h2>
                        </a>
                        <h6>@post.Date</h6> 
@*<span>@post.Author</span>*@
                        <p>@Html.Raw(post.Summary)</p>
                        if (i != Model.BlogPosts.Count())
                        {                
                        <br />
                        }
                    }
                </figcaption>
            </figure>
        </div>
        <div id="latest-students-container">
            <figure>
                <figcaption>
                    <h6 class="heading">Последни студенти</h6>
                    @Html.Partial("_LatestStudentsPartial", Model.Students)
                </figcaption>
            </figure>
        </div>

        <div id="latest-students-container">
            <figure>
                <figcaption>
                    <h6 class="heading">Последни работодатели</h6>
                    @Html.Partial("_LatestCompaniesPartial", Model.Employers)
                </figcaption>
            </figure>
        </div>

        <!-- project box -->
        @*        <div id="project-box" class="cf">
            <!-- slider -->
            <div class="project-slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li style="background-color: rgb(195,195,195); text-align: center">
                            <h3 style="font-weight: bold; color: #cb5432;">Последни обяви
                            </h3>
                            <div id="filter-container" class="cf" style="margin-left: 7.5%; max-width: 85%; min-height: 350px !important; background-color: white; font-size: 175%">
                                @Html.Partial("_LatestOffersPartial", Model.Offers)
                            </div>
                        </li>
                        <li style="background-color: rgb(195,195,195); text-align: center">
                            <h3 style="font-weight: bold; color: #cb5432;">Последни студенти</h3>
                            <div id="filter-container" class="cf">
                                @Html.Partial("_LatestStudentsPartial", Model.Students)
                            </div>
                        </li>
                        <li style="background-color: rgb(195,195,195); text-align: center">
                            <h3 style="font-weight: bold; color: #cb5432;">Последни работодатели</h3>
                            <div id="filter-container" class="cf">
                                @Html.Partial("_LatestCompaniesPartial", Model.Employers)
                            </div>
                        </li>
                    </ul>
                </div>
            </div>  
        </div>*@
        <!-- ENDS portfolio content-->
    </div>


</div>
<!-- ENDS WRAPPER -->
