@model LinkedFMI_UI.Models.Job

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Ajax.BeginForm("AddJob", new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "target",
                            OnSuccess = "onSuccessJob"
                        }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Работа</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsCurrent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsCurrent)
            <br />
            @Html.ValidationMessageFor(model => model.IsCurrent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Position)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Position)
            <br />
            @Html.ValidationMessageFor(model => model.Position)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Company)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Company)
            <br />
            @Html.ValidationMessageFor(model => model.Company)
        </div>

    <div class="editor-label">
    @Html.LabelFor(model => model.StartMonth)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.StartMonth, new SelectList(LinkedFMI_UI.Utilities.GetMonths().OrderBy(x => int.Parse(x.Value)), "Value", "Text"))
    @Html.ValidationMessageFor(model => model.StartMonth)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.StartYear)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.StartYear, new SelectList(LinkedFMI_UI.Utilities.GetHighSchoolYears().OrderBy(x => int.Parse(x.Value)), "Value", "Text"))
    @Html.ValidationMessageFor(model => model.StartYear)
</div>
    
        <div class="editor-label">
    @Html.LabelFor(model => model.EndMonth)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.EndMonth, new SelectList(LinkedFMI_UI.Utilities.GetMonths().OrderBy(x => int.Parse(x.Value)), "Value", "Text"))
    @Html.ValidationMessageFor(model => model.EndMonth)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.EndYear)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.EndYear, new SelectList(LinkedFMI_UI.Utilities.GetHighSchoolYears().OrderBy(x => int.Parse(x.Value)), "Value", "Text"))
    @Html.ValidationMessageFor(model => model.EndYear)
</div>

        <p>
            <input id="add" type="submit" value="Добави" />
            <input type="button" id="cancelAdd" value="Отказ" onclick="closeJobDialog()" />
        </p>
    </fieldset>
    
    <script>
        function onSuccessJob(ok, status, response) {
            addJob();
            //refreshExperience();
            closeJobDialog();
        }

        function addJob() {
            $.ajax({
                url: '/Student/JobsEdit',
                dataType: 'html',
                success: function (data) {
                    $("#jobPartial").html(data);
                }
            });
        }

        function closeJobDialog()
        {
            $("#jobDialog").dialog("close");
        }
    </script>
    
    <script>
        $("#StartMonth").kendoDropDownList();
        $("#StartYear").kendoDropDownList();
        $("#EndMonth").kendoDropDownList();
        $("#EndYear").kendoDropDownList();
    </script>
}
