@model IQueryable<LinkedFMI_UI.ViewModels.StudentAllViewModel>

@{
    ViewBag.Title = "Студенти";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@(Html.Kendo()
    .Grid<LinkedFMI_UI.ViewModels.StudentAllViewModel>()
    .Name("grid-students")
    .BindTo(Model)
    .Columns(columns =>
    {
        columns.Bound(model => model.FullName).Sortable(true).Title("Full Name");
        columns.Bound(model => model.Email).Sortable(false).Title("Email");
        columns.Bound(model => model.HasJob).Sortable(true).Title("Has Job");
    })
    .Pageable(page =>
        {
            page.PreviousNext(true);
            page.Numeric(true);
        })
    .Sortable(sort =>
        {
            sort.AllowUnsort(false);
            sort.SortMode(GridSortMode.SingleColumn);
        })
    .Groupable()
    .Filterable()
    .Resizable(resize => resize.Columns(true))
    .Navigatable()
    //.Selectable(select => select.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Cell))
    //.Events(ev =>
    //    {
    //        ev.Change("selectRow");
    //    })
    .DataSource(data =>
    {
        data.Ajax()
            .Model(m => m.Id(b => b.Id))
            .PageSize(10)
            .ServerOperation(true);
    }))


@*@foreach (var student in Model)
{
    <div id="filter-container" class="cf">
    <figure>
        <figcaption>
            @if (student.Picture!= null)
            {
                <img class="alignleft" src="data:image;base64," + @System.Convert.ToBase64String(student.Picture) />
            }
            <h4 class="heading">@student.FirstName @student.LastName</h4>
            @if (student.Jobs != null && student.Jobs.Count > 0)
            {
                foreach (var job in student.Jobs)
                {
                    if (job.IsCurrent)
                    {
                <h5>@job.Position at @job.Company</h5>
                        break;
                    }
                }
            }

            <h5>@student.FMIInfo.Bachelor.CurrentCourse курс 
                @LinkedFMI_UI.Enums.EnumTranslator.Specialities[student.FMIInfo.Bachelor.Specialty]</h5>
        </figcaption>
    </figure>
        </div>
}

*@
