@model Occupie.Models.Student
<figure class="main isotope-item figure-edit-page" style="width: 100%" id="education">
    <figcaption>
        <h4 class="heading">Образование</h4>

        <div class="edu-padding">
            <div class="alignleft">
                <div class="editor-label">
                    @Html.LabelFor(model => model.HighSchoolInfo.SchoolName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.HighSchoolInfo.SchoolName)
                    @Html.ValidationMessageFor(model => model.HighSchoolInfo.SchoolName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.HighSchoolInfo.StartYear)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.HighSchoolInfo.StartYear, new SelectList(Occupie.Utilities.GetHighSchoolYears().OrderBy(x => int.Parse(x.Value)), "Value", "Text"))
                    @Html.ValidationMessageFor(model => model.HighSchoolInfo.StartYear)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.HighSchoolInfo.EndYear)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.HighSchoolInfo.EndYear, new SelectList(Occupie.Utilities.GetHighSchoolYears().OrderBy(x => int.Parse(x.Value)), "Value", "Text"))
                    @Html.ValidationMessageFor(model => model.HighSchoolInfo.EndYear)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.HighSchoolInfo.Grade)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.HighSchoolInfo.Grade)
                    @Html.ValidationMessageFor(model => model.HighSchoolInfo.Grade)
                </div>
            </div>

            <table style="position: relative; left: 8em">
                <tr style="background-color: #cb5432; color: white">
                    <th style="padding-left: 5px">

                    </th>
                    <th style="padding-left: 5px">
                        Предмет
                    </th>
                    <th style="padding-left: 5px">
                        Оценка
                    </th>
                    <th style="padding-left: 5px; padding-right: 5px">
                        Кредити
                    </th>
                </tr>
                @for (int i = 0; i < Model.FMIInfo.Bachelor.Subjects.Count; i++)
                {    
                    <tr style="background-color: #ebe3db">
                        <td>
                            @Html.CheckBoxFor(x => x.FMIInfo.Bachelor.Subjects[i].IsVisible)
                        </td>
                        <td>
                            <label>@Model.FMIInfo.Bachelor.Subjects[i].Name</label>
                        </td>
                        <td>
                            <label>@Model.FMIInfo.Bachelor.Subjects[i].Grade</label>
                        </td>
                        <td>
                            <label>@Model.FMIInfo.Bachelor.Subjects[i].Credits</label>
                        </td>
                    </tr>
                }
            </table>

        </div>
    </figcaption>
</figure>

<script>
    $("#HighSchoolInfo_StartYear").kendoDropDownList();
    $("#HighSchoolInfo_EndYear").kendoDropDownList();

    $("#HighSchoolInfo_Grade").kendoNumericTextBox({
        min: 2.0,
        max: 6.0,
        step: 0.01
    });
</script>
