@model Occupie.Models.Student

@{
    ViewBag.Title = "Редактиране";
}

@using (Html.BeginForm("Edit", "Student", new { profileId = Model.StudentProfileId }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    
    @*<ul style="float: center" id="nav" class="leftNav menu2 sf-js-enabled sf-shadow">
        <li class="sfHover2" style="float: center;">
            <ul style="display: inline; visibility: visible">
                <li><a href="#persInfo">Основна информация</a></li>
                <li><a href="#education">Образование</a></li>
                <li><a href="#experience">Опит</a></li>
                <li><a href="#personal">Лична информация</a></li>
                <input id="edit" class="left" type="submit" value="Запази" name="submit" />
            </ul>
        </li>
    </ul>*@
   

    <div id="tabstrip">
        <ul>
            <li class="k-state-active">Основна информация
            </li>
            <li>Образование
            </li>
            <li>Опит
            </li>
            <li>Лична информация
            </li>
        </ul>
        <div>
            @Html.Partial("_EditMainInfoPartial")
        </div>
        <div>
            @Html.Partial("_EditEducationPartial")
        </div>
        <div>
            @Html.Partial("_EditExperiencePartial")
        </div>
        <div>
            @Html.Partial("_EditPersonalPartial")
        </div>
    </div>

   

<input id="edit" type="submit" value="Запази" name="submit" />
}

<script>
    $(document).ready(function () {
        $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*<script src="~/Scripts/kendo.all.min.js"></script>*@
@*<script src="~/js/jquery-ui-1.10.3.custom.js"></script>*@
