@model Occupie.Models.Student

@{
    ViewBag.Title = "Редактиране";
}

@using (Html.BeginForm("Edit", "Student", new { profileId = Model.StudentProfileId }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    
    <ul style="float: center" id="nav" class="leftNav menu2 sf-js-enabled sf-shadow">
        <li class="sfHover2" style="float: center;">
            <ul style="display: inline; visibility: visible">
                <li><a href="#persInfo">Основна информация</a></li>
                <li><a href="#education">Образование</a></li>
                <li><a href="#experience">Опит</a></li>
                <li><a href="#personal">Лична информация</a></li>
                <input id="edit" class="left" type="submit" value="Запази" name="submit" />
            </ul>
        </li>
    </ul>
   


    <div id="filter-container" class="cf isotope" style="position: relative; height: 100%">
        @Html.HiddenFor(model => model.StudentProfileId)

        @Html.HiddenFor(model => model.UserId)

        @Html.Partial("_EditMainInfoPartial")

        @Html.Partial("_EditEducationPartial")



        <figure class="main isotope-item" style="width: 100%; margin-top: 20px; margin-bottom: 20px;" id="experience">
            <figcaption>
                <h4 class="heading">Опит</h4>
                <div id="editExperience">
                    @Html.Partial("_EditExperiencePartial")
                </div>
            </figcaption>
        </figure>



        @Html.Partial("_EditPersonalPartial")
    </div>
    
@*<input style="position:relative; top:-90px; left:450px" id="edit" class="left" type="submit" value="Запази" name="submit" />*@
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/js/jquery-ui-1.10.3.custom.js"></script>
