@model LinkedFMI_UI.Models.Employer

@{
    ViewBag.Title = "Edit";
}

<h2 style="text-align: center">Редактиране на профила</h2>

@using (Html.BeginForm("Edit", "Employer", new { profileId = Model.UserId }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Employer</legend>
        @Html.HiddenFor(model => model.EmployerProfileId)

        <div class="alignleft">
            @Html.Partial("_EditMainInfoPartial")
        </div>

        <div class="alignleft">
            @Html.Partial("_EditDepartmentsPartial")
        </div>


    </fieldset>
    
    <div style="clear: both;"></div>
    <p style="margin-left: 20px">
        <input id="edit" class="left" type="submit" value="Запази" name="submit" />
        <input type="button" value="Отказ" onclick="window.location.href = '/Employer/Profile'" />
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}