@model LinkedFMI_UI.Models.Employer
@using LinkedFMI_UI.Helpers

@{
    ViewBag.Title = "Profile";
}

<div id="portfolio-content">
    <div id="filter-container" class="cf">
        @Html.Partial("_PicturePartial")

        @Html.Partial("_CompanyInfoPartial")
        
        @Html.Partial("_OffersPartial")

        @Html.Partial("_DepartmentsPartial")
    </div>
</div>

<div>
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
    <a href="javascript:document.getElementById('logoutForm').submit()">Излез</a>
}
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { profileId = Model.EmployerProfileId })
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}